@import '../variables';

.navbar.navbar-default {
    &:before {
        content: '';
        background-color: $black-dark-color;
        width: 100%;
        position: absolute;
        top: -200px;
        left: 0;
        height: 200px;
    }
    margin-bottom: 0px;
    border: none;
    .container {
        width: 100%;
        .navbar-brand {
            width: 250px;
            font-size: 22px;
            display: flex;
            .logo {
                height: 20px;
                margin-right: 24px;
                margin-left: 10px;            
                transition: all 0.25s ease; 
                transform-origin: 50% 50% 0%;
                &.minimized {
                    transform: rotate(135deg);
                }
            }
        }
        .xposur-content {
            font-weight: bold;
        }
    }
    .nav-dropdown {
        position: relative;
        .svg-inline--fa {
            width: 25px;
        }
        .badge {
            position: absolute;
            right: -5px;
            top: -5px;
            border-radius: 0px;
            height: 15px;
            padding: 1px 4px;
            font-size: 12px;
            background-color: $danger-color;
        }
    }
    .dropdown {
        &.open {
            .svg-inline--fa {
                color: $black-light-color
            }
        }
    }
}

.menu-header {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.menu-item {
    border-top: 1px solid $grey-color;
    .msg-sender {
        font-weight: bold;
    }

    &.unread {
        background-color: transparentize($color: $primary-color, $amount: 0.9);    
        .notification-text, .msg-sender {
            font-weight: bold;
        }
    }
    .notification-text, .msg-text, .msg-sender {
        margin: 0px;
        line-height: 1.2;
    }
    .notification-time, .msg-time {
        opacity: 0.7;
        line-height: 1;
        font-size: 14px;
    }

    .img-container {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        align-items: center;
        padding-right: 20px;
        vertical-align: top;
        img {
            height: 50px;
            width: 50px;
            border-radius: 50px;
        }
    }
    .text-container {
        margin-top: 10px;
        display: inline-block;
    }
}