@import url("https://fonts.googleapis.com/css?family=Play:700");
.navbar.navbar-default {
  margin-bottom: 0px;
  border: none; }
  .navbar.navbar-default:before {
    content: '';
    background-color: #222222;
    width: 100%;
    position: absolute;
    top: -200px;
    left: 0;
    height: 200px; }
  .navbar.navbar-default .container {
    width: 100%; }
    .navbar.navbar-default .container .navbar-brand {
      width: 250px;
      font-size: 22px;
      display: flex; }
      .navbar.navbar-default .container .navbar-brand .logo {
        height: 20px;
        margin-right: 24px;
        margin-left: 10px;
        transition: all 0.25s ease;
        transform-origin: 50% 50% 0%; }
        .navbar.navbar-default .container .navbar-brand .logo.minimized {
          transform: rotate(135deg); }
    .navbar.navbar-default .container .xposur-content {
      font-weight: bold; }
  .navbar.navbar-default .nav-dropdown {
    position: relative; }
    .navbar.navbar-default .nav-dropdown .svg-inline--fa {
      width: 25px; }
    .navbar.navbar-default .nav-dropdown .badge {
      position: absolute;
      right: -5px;
      top: -5px;
      border-radius: 0px;
      height: 15px;
      padding: 1px 4px;
      font-size: 12px;
      background-color: #ff0039; }
  .navbar.navbar-default .dropdown.open .svg-inline--fa {
    color: #707070; }

.menu-header {
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 14px; }

.menu-item {
  border-top: 1px solid #f5f5f5; }
  .menu-item .msg-sender {
    font-weight: bold; }
  .menu-item.unread {
    background-color: rgba(26, 110, 204, 0.1); }
    .menu-item.unread .notification-text, .menu-item.unread .msg-sender {
      font-weight: bold; }
  .menu-item .notification-text, .menu-item .msg-text, .menu-item .msg-sender {
    margin: 0px;
    line-height: 1.2; }
  .menu-item .notification-time, .menu-item .msg-time {
    opacity: 0.7;
    line-height: 1;
    font-size: 14px; }
  .menu-item .img-container {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding-right: 20px;
    vertical-align: top; }
    .menu-item .img-container img {
      height: 50px;
      width: 50px;
      border-radius: 50px; }
  .menu-item .text-container {
    margin-top: 10px;
    display: inline-block; }
