@import url("https://fonts.googleapis.com/css?family=Play:700");
body {
  background: whitesmoke;
  display: block; }
  body .content-wrapper {
    margin-left: 250px;
    margin-top: 50px;
    transition: all 0.25s ease;
    background: #f5f5f5; }
    body .content-wrapper.maximized {
      margin-left: 70px; }
    body .content-wrapper .feeling-today {
      background-color: #1a6ecc;
      border: none;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 20px; }
      body .content-wrapper .feeling-today p {
        margin-bottom: 0px;
        color: #ffffff; }
      body .content-wrapper .feeling-today .stars-container {
        display: flex; }
        body .content-wrapper .feeling-today .stars-container .star .svg-inline--fa {
          width: 20px;
          opacity: 0.5; }
        body .content-wrapper .feeling-today .stars-container .star.hovered .svg-inline--fa {
          color: gold;
          opacity: 0.7; }
        body .content-wrapper .feeling-today .stars-container .star.filled .svg-inline--fa {
          color: gold;
          opacity: 1; }
    body .content-wrapper .xperiences {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      margin: 5px; }
      body .content-wrapper .xperiences .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px; }
        body .content-wrapper .xperiences .header .title-container {
          display: flex;
          flex-direction: row;
          align-items: center; }
          body .content-wrapper .xperiences .header .title-container .badge {
            font-size: 14px;
            padding: 4px 8px;
            border-radius: 200px; }
        body .content-wrapper .xperiences .header .title {
          font-weight: bold;
          font-size: 20px;
          margin-top: 0px;
          padding-right: 10px;
          margin-bottom: 0px; }
      body .content-wrapper .xperiences .previous-xperiences {
        display: flex;
        flex: 1;
        min-width: 400px;
        margin: 5px; }
        body .content-wrapper .xperiences .previous-xperiences .panel-body {
          width: 100%; }
      body .content-wrapper .xperiences .upcoming-xperiences {
        display: flex;
        width: 100%;
        flex: 1;
        min-width: 400px;
        margin: 5px; }
        body .content-wrapper .xperiences .upcoming-xperiences .panel-body {
          width: 100%; }
      @media screen and (max-width: 1180px) {
        body .content-wrapper .xperiences .previous-xperiences {
          display: flex;
          flex: 1;
          margin: 5px; }
        body .content-wrapper .xperiences .upcoming-xperiences {
          display: flex;
          flex: 1;
          margin: 5px; } }
    body .content-wrapper .recommended-xperiences-container {
      margin: 0px 10px 10px 10px; }
      body .content-wrapper .recommended-xperiences-container .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; }
        body .content-wrapper .recommended-xperiences-container .header .title-container {
          display: flex;
          flex-direction: row;
          align-items: center; }
          body .content-wrapper .recommended-xperiences-container .header .title-container .badge {
            font-size: 14px;
            padding: 4px 8px;
            border-radius: 200px; }
        body .content-wrapper .recommended-xperiences-container .header .title {
          font-weight: bold;
          font-size: 20px;
          margin-top: 0px;
          padding-right: 10px;
          margin-bottom: 0px; }

.carousel-control.left, .carousel-control.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  width: 20px;
  margin-bottom: 20px; }
  .carousel-control.left .svg-inline--fa, .carousel-control.right .svg-inline--fa {
    color: #333333;
    opacity: 1; }

.gallery-container {
  display: flex;
  justify-content: flex-start;
  margin: 0px 25px; }
  .gallery-container .xperience-item {
    width: 50%;
    padding: 10px; }
    .gallery-container .xperience-item .panel-default {
      height: 100%;
      margin-bottom: 5px; }
    .gallery-container .xperience-item a {
      text-decoration: none;
      position: relative;
      display: flex; }
      .gallery-container .xperience-item a .image-container {
        position: relative; }
        .gallery-container .xperience-item a .image-container image {
          width: 100%; }
        .gallery-container .xperience-item a .image-container .date {
          position: absolute;
          top: 15px;
          right: 15px;
          background: #1a6ecc;
          width: 42px;
          height: 42px;
          padding: 6px 0;
          border-radius: 100%;
          color: white;
          font-weight: 700;
          text-align: center; }
          .gallery-container .xperience-item a .image-container .date .day {
            font-size: 15px;
            line-height: 1; }
          .gallery-container .xperience-item a .image-container .date .month {
            font-size: 11px;
            text-transform: uppercase; }
      .gallery-container .xperience-item a:hover .item-info {
        height: 100%;
        margin-top: 0px;
        padding-top: 15px; }
      .gallery-container .xperience-item a .item-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: white;
        padding: 5px 10px;
        margin: 0px;
        overflow: hidden;
        transition: all 0.25s ease;
        height: 5em; }
        .gallery-container .xperience-item a .item-info .item-info-display {
          height: 5em;
          z-index: 10; }
          .gallery-container .xperience-item a .item-info .item-info-display .text {
            margin: 0px; }
          .gallery-container .xperience-item a .item-info .item-info-display .title {
            font-weight: bold;
            display: block;
            color: black;
            font-size: 20px;
            line-height: 1; }
          .gallery-container .xperience-item a .item-info .item-info-display .trainer {
            font-size: 14px;
            color: black; }
        .gallery-container .xperience-item a .item-info .item-info-more {
          height: calc(100% - 5em);
          color: #333333; }
          .gallery-container .xperience-item a .item-info .item-info-more .title {
            font-weight: bold; }

.carousel {
  padding-bottom: 20px; }

.carousel-indicators {
  bottom: -15px; }
  .carousel-indicators li {
    border-color: #707070;
    margin: 5px;
    padding: 0px;
    border-radius: 0px;
    width: 20px;
    height: 5px; }
    .carousel-indicators li.active {
      background-color: #707070;
      width: 20px;
      height: 5px;
      margin: 5px;
      padding: 0px; }

.event-header {
  height: 250px;
  overflow: hidden;
  position: relative; }
  .event-header:before {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0; }
  .event-header img {
    width: 100%; }
  .event-header .title {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    padding-left: 30px;
    color: #ffffff; }

.xperience-page .description-section {
  padding: 10px;
  min-width: 600px;
  flex: 2; }
  .xperience-page .description-section .description-section-panel {
    padding: 30px; }

.xperience-page .content-block {
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row; }

.xperience-page .feedback-content {
  margin-top: 10px; }
  .xperience-page .feedback-content .feedback-comment p {
    margin-bottom: 0px; }
  .xperience-page .feedback-content .feedback-comment .username {
    font-weight: bold; }

.xperience-page .sidebar-right {
  flex: 1;
  min-width: 300px;
  padding: 10px; }
  .xperience-page .sidebar-right .sidebar-right-panel {
    padding: 30px;
    margin-bottom: 0px; }
    .xperience-page .sidebar-right .sidebar-right-panel .date, .xperience-page .sidebar-right .sidebar-right-panel .time {
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1; }
    .xperience-page .sidebar-right .sidebar-right-panel .map-responsive {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      margin-top: 10px;
      height: 0; }
      .xperience-page .sidebar-right .sidebar-right-panel .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; }
    .xperience-page .sidebar-right .sidebar-right-panel .tags {
      margin-top: 5px; }
    .xperience-page .sidebar-right .sidebar-right-panel .tag-badge {
      margin-right: 5px;
      margin-bottom: 5px;
      padding-bottom: 5px; }

.smallcaps {
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 1em;
  margin-top: 20px;
  margin-bottom: 0px;
  display: block; }

.grey {
  opacity: 0.5; }
